.vs/
NPhies_FHIR_Integration.ApiService/bin/
NPhies_FHIR_Integration.ApiService/obj/
NPhies_FHIR_Integration.AppHost/bin/
NPhies_FHIR_Integration.Application/bin/
NPhies_FHIR_Integration.Application/obj/Debug/
NPhies_FHIR_Integration.Application/obj/
NPhies_FHIR_Integration.Common/bin/
NPhies_FHIR_Integration.Common/obj/
NPhies_FHIR_Integration.Domain/bin/
NPhies_FHIR_Integration.Domain/obj/
NPhies_FHIR_Integration.Infrastructure/bin/
NPhies_FHIR_Integration.Infrastructure/obj/
NPhies_FHIR_Integration.ServiceDefaults/bin/
NPhies_FHIR_Integration.ServiceDefaults/obj/
NPhies_FHIR_Integration.Web/bin/
NPhies_FHIR_Integration.Web/obj/
NPhies_FHIR_Integration.Tests/obj/
NPhies_FHIR_Integration.AppHost/obj/
